
body{
margin:1em auto;
font:0.9em/1.62 sans-serif;
}

div.body{
padding-left:10%;
padding-right:10%;
}

h1,h2,h3 {
line-height:1.2;
}

small{
font-size: xx-small;
}

div{
padding: 5px;
}

ul{
margin: 0;
padding: 0;
border-left:1px solid rgb(100,100,255);
list-style-position: inside;
}

li{
padding: 0px 0px 0px 5%;
}


